aeFXBehaviourTest/nbproject/UPDATED.TXT
aeFXBehaviour/build/**/*
aeFXBehaviourTest/build/**/*
aeFXBehaviour/nbproject/private/**/*
aeFXBehaviourTest/nbproject/private/**/*
aeFXBehaviourTest/dist/web-files/**/*
mounts.sh