aeFXBehaviour/build/**/*
aeFXBehaviourTest/build/**/*
aeFXBehaviour/nbproject/private/**/*
aeFXBehaviourTest/nbproject/private/**/*
aeFXBehaviourTest/dist/web-files/**/*
mounts.sh
aeFXBehaviour/dist/README.TXT
aeFXBehaviour/dist/aeFXActions.jnlp
aeFXBehaviour/dist/web-files/
aeFXBehaviourTest/aeFXActionTest.log

